entrypoint = "app.py"
modules = ["python-3.11"]

[nix]
channel = "stable-24_05"
packages = ["cacert", "iana-etc", "imagemagickBig", "libmaxminddb", "nmap", "sox", "tcpdump", "wireshark"]

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["python3", "app.py"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 3000

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 8080
externalPort = 80

[workflows]
runButton = "Vaxyro Server"

[[workflows.workflow]]
name = "Vaxyro Server"
author = 19925023
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python app.py"
